<%- include('header'); -%>
<main>
    <% if (error) {%>
        <p><%= error %></p>
    <% } %>
    <p>All tasks</p>
    <%- include('toDoList'); -%>
    <%- include('newToDo'); -%>
</main>
<%- include('footer'); -%>