<% if (data.length > 0) { %>
    <% for(let i = 0; i < count && i < data.length; i++) { %>
        <% const date = data[i].dueDate; %>
        <% const year = date.getFullYear(); %>
        <% let month = date.getMonth() + 1; %>
        <% if (month < 10) { month = '0' + month; } %>
        <% let day = date.getDate(); %>
        <% if (day < 10) { day = '0' + day; } %>
        <% const convertedDate = `${year}-${month}-${day}`; %>
        <div>
        <% if(path !== "/completed") { %>
            <a href="/complete/<%= data[i]._id %>">Mark complete</a>
        <% } %>
            <p><%= data[i].name %></p>
            <p><%= convertedDate %></p>
        <% if(path !== "/completed") { %>
            <a href="/star/<%= data[i]._id %>">Star</a>
        <% } %>
            <a href="/remove/<%= data[i]._id %>">Remove</a>
        </div>
    <% } %>
<% } %>
<% if (count < nrOfToDos) { %>
    <a href="<%= path %>?count=<%= count + 5 %>">Load more</a>
<% } %>
<% if (count > 5) { %>
    <a href="<%= path %>">Show less</a>
<% } %>